 

<li class="list-group-item">
    <form {% if todo %} hx-put="{% url 'update_todo' todo.id %}" {% endif %} hx-target="closest li" hx-swap="outerHTML" hx-ext="json-enc" class="d-flex gap-2">
        {% csrf_token %}
      <div class="mb-2">
            <input type="text" name="title" class="form-control fw-bold" value="{{ todo.title }}" placeholder="Title" required>
        </div>
        <div class="mb-2">
            <textarea name="description" class="form-control form-control-sm" placeholder="Description (optional)" rows="2">{{ todo.description|default_if_none:"" }}</textarea>
        </div>
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
            <button hx-get="{% url 'index' %}" hx-target="body" class="btn btn-secondary btn-sm">Cancel</button>
        </div>
    </form>
</li>